<p><%= flash[:alert] %></p>
<h2>수정하기</h2>

<form action="/foods/edit_complete" method="post">
   <input type="hidden" name="id" value="<%= @post.id %>">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="후기">후기</option>
    <option value="Q&A">Q&A</option>
    <option value="공지사항">공지사항</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" value="<%= @post.title %>"></p>
  <p>내용: <textarea name="post_content"><%= @post.content %></textarea></p>
  <input type="submit" value="수정하기">
</form>
