<p><%= flash[:alert] %></p>
<<<<<<< HEAD
<h2>작성하기</h2>
=======
<h2>글 작성하기</h2>
>>>>>>> 435287e8d3db3ae8d74ba121aab70fc2a31a267e

<form action="/foods/write_complete" method="post">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="후기">후기</option>
    <option value="Q&A">Q&A</option>
    <option value="공지사항">공지사항</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
  <p>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
  <input type="submit" value="추가하기">
</form>
